apache-airflow==2.9.0
apache-airflow-providers-postgres==5.10.0
pendulum>=2.1.2
requests==2.31.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
nba_api==1.4.1
rapidfuzz==3.6.1
pandas==2.2.2
pyarrow==15.0.2
duckdb==0.10.3
xgboost==2.0.3
mlflow==2.14.1
scikit-learn==1.6.1
